# Web scraping Investing.com using Beautiful Soup
## Hourly ETH and BTC Technical Data

In [70]:
import os
import requests
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen, Request
from dotenv import load_dotenv
load_dotenv()
import pandas as pd
import matplotlib
%matplotlib inline

# ETH Technicals Summary

In [71]:
# Setup a scraper for technical summary
url = ("http://www.investing.com/crypto/ethereum/eth-usd")
print(url)
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

http://www.investing.com/crypto/ethereum/eth-usd

# ETH Technicals (hourly)

In [89]:
# Setup a web scraper for ETH to pull technical indicators based on HOURLY data from Investing.com (for other timeframes use selenium scraper notebook)
url = ("http://www.investing.com/crypto/ethereum/eth-usd-technical")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [75]:
# Obtain data from the hourly Pivot points table
eth_pivot_points = pd.read_html(str(html), attrs = {'class':'genTbl closedTbl crossRatesTbl', 'id':'curr_table'})[0]
eth_pivot_points

,Name,S3,S2,S1,Pivot Points,R1,R2,R3
0,Classic,2364.25,2386.58,2400.26,2422.59,2436.27,2458.60,2472.28
1,Fibonacci,2386.58,2400.34,2408.83,2422.59,2436.35,2444.84,2458.60
2,Camarilla,2404.04,2407.34,2410.64,2422.59,2417.24,2420.54,2423.84
3,Woodie's,2359.93,2384.42,2395.94,2420.43,2431.95,2456.44,2467.96
4,DeMark's,-,-,2393.42,2419.17,2429.43,-,-

In [76]:
# Obtain hourly technical data
eth_technicals = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalIndicatorsTbl smallTbl float_lang_base_1', 'id':'curr_table'})[0]
eth_technicals

,Name,Value,Action
0,RSI(14),43.294,Sell
1,"STOCH(9,6)",18.189,Oversold
2,STOCHRSI(14),11.727,Oversold
3,"MACD(12,26)",-17.430,Sell
4,ADX(14),25.669,Sell
5,Williams %R,-85.277,Oversold
6,CCI(14),-105.9165,Sell
7,ATR(14),34.0886,Less Volatility
8,Highs/Lows(14),-30.0500,Sell
9,Ultimate Oscillator,47.013,Sell
10,ROC,-1.740,Sell
11,Bull/Bear Power(13),-64.8700,Sell
12,Buy: 0 Sell: 8 Neutral: 0 Summary:Strong Sell,Buy: 0 Sell: 8 Neutral: 0 Summary:Strong Sell,Buy: 0 Sell: 8 Neutral: 0 Summary:Strong Sell

In [90]:
# Obtain moving averages based on hourly data
eth_moving_averages = pd.read_html(str(html), attrs = {'class':'genTbl closedTbl movingAvgsTbl float_lang_base_2','id':'curr_table'})[0]
eth_moving_averages

,Period,Simple,Exponential
0,MA5,2420.03 Sell,2421.68 Sell
1,MA10,2456.95 Sell,2437.09 Sell
2,MA20,2458.47 Sell,2448.29 Sell
3,MA50,2483.98 Sell,2539.82 Sell
4,MA100,2761.57 Sell,2698.37 Sell
5,MA200,2999.44 Sell,2877.58 Sell
6,Buy: 0 Sell: 12 Summary:Strong Sell,Buy: 0 Sell: 12 Summary:Strong Sell,Buy: 0 Sell: 12 Summary:Strong Sell

# BTC Technicals Summary

In [91]:
# Setup a scraper for technical summary
url = ("http://www.investing.com/crypto/bitcoin/btc-usd")
print(url)
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

http://www.investing.com/crypto/bitcoin/btc-usd

# BTC Technicals (hourly)

In [99]:
# Setup a web scraper for BTC to pull technical indicators based on HOURLY data from Investing.com (for other timeframes use selenium scraper notebook)
url = ("http://www.investing.com/crypto/ethereum/eth-usd-technical")
req = Request(url,headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [100]:
# Obtain data from the hourly Pivot points table
btc_pivot_points = pd.read_html(str(html), attrs = {'class':'genTbl closedTbl crossRatesTbl', 'id':'curr_table'})[0]
btc_pivot_points

,Name,S3,S2,S1,Pivot Points,R1,R2,R3
0,Classic,2364.25,2386.58,2400.26,2422.59,2436.27,2458.60,2472.28
1,Fibonacci,2386.58,2400.34,2408.83,2422.59,2436.35,2444.84,2458.60
2,Camarilla,2404.04,2407.34,2410.64,2422.59,2417.24,2420.54,2423.84
3,Woodie's,2359.93,2384.42,2395.94,2420.43,2431.95,2456.44,2467.96
4,DeMark's,-,-,2393.42,2419.17,2429.43,-,-

In [101]:
# Obtain hourly technical data
btc_technicals = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalIndicatorsTbl smallTbl float_lang_base_1', 'id':'curr_table'})[0]
btc_technicals

,Name,Value,Action
0,RSI(14),38.440,Sell
1,"STOCH(9,6)",25.632,Sell
2,STOCHRSI(14),0.000,Oversold
3,"MACD(12,26)",-20.370,Sell
4,ADX(14),27.134,Sell
5,Williams %R,-95.847,Oversold
6,CCI(14),-138.1906,Sell
7,ATR(14),35.7064,Less Volatility
8,Highs/Lows(14),-65.3621,Sell
9,Ultimate Oscillator,40.449,Sell
10,ROC,-3.237,Sell
11,Bull/Bear Power(13),-76.9680,Sell
12,Buy: 0 Sell: 9 Neutral: 0 Summary:Strong Sell,Buy: 0 Sell: 9 Neutral: 0 Summary:Strong Sell,Buy: 0 Sell: 9 Neutral: 0 Summary:Strong Sell

In [102]:
# Obtain moving averages based on hourly data
btc_moving_averages = pd.read_html(str(html), attrs = {'class':'genTbl closedTbl movingAvgsTbl float_lang_base_2','id':'curr_table'})[0]
btc_moving_averages

,Period,Simple,Exponential
0,MA5,2420.03 Sell,2421.68 Sell
1,MA10,2456.95 Sell,2437.09 Sell
2,MA20,2458.47 Sell,2448.29 Sell
3,MA50,2483.98 Sell,2539.82 Sell
4,MA100,2761.57 Sell,2698.37 Sell
5,MA200,2999.44 Sell,2877.58 Sell
6,Buy: 0 Sell: 12 Summary:Strong Sell,Buy: 0 Sell: 12 Summary:Strong Sell,Buy: 0 Sell: 12 Summary:Strong Sell